<web-app>
    <servlet>
        <servlet-name>home</servlet-name>
        <jsp-file>/home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>add-new-task</servlet-name>
        <jsp-file>/add-new-task.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>add-new-task</servlet-name>
        <url-pattern>/create-task</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>show-all-tasks</servlet-name>
        <jsp-file>/show-all-tasks.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>show-all-tasks</servlet-name>
        <url-pattern>/tasks-list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Task</servlet-name>
        <servlet-class>Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Task</servlet-name>
        <url-pattern>/task</url-pattern>
    </servlet-mapping>
</web-app>